*.swp
README~
.gitignore~
*.out
DO_NOT_DELETE
*.exe
*.tlog
*.obj
*.pdb
*.idb
*.sdf
*.ilk
*.log
*.aps
#*.rc
*.lib
*.dll
*.unsuccessfulbuild
*.vsmdi
*.pch
*.zip
*.rar
*.doc
*.ipch
*.cache
*.lastbuildstate
*.pdf
*.lib
*.dll
deps
bin/resources
*.suo
*.sbr
bin/Debug
bin/MinSizeRel
bin/Release
bin/RelWithDebInfo
bin/libs
.vscode
build
libs/fmod_fsbank
libs/fmod_lowlevel
libs/fmod_studio
libs/fmodex
libs/FreeImage
libs/freetype
libs/glfw
libs/lua523
libs/src


